{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "env": {
        "jest": true
    },
    "globals": {
        "document": true,
        "window": true,
        "fetch": true
    },
    "rules": {
        "import/no-unresolved": 0,
        "react/jsx-filename-extension": [
                1,
                {
                    "extensions": [
                        ".js"
                    ]
                }
            ]
    }
}